body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.dropdown-menu-login {
  min-width: 16em !important;
}

.bi {
  width: 1em;
  height: 1em;

  display: inline-block;
  vertical-align: -.125em;
  fill: currentcolor;
}